
%h1 Claim a Tiddlyspot Site

%p
  If you know the name and the password for a Tiddlyspot site, then you can
  claim it as your own and import it into Tiddlyhost.

%p
  Enter a site name and password below to claim a Tiddlyspot site.

=render 'claim_tspot_form'
